html
	head
		title OAuth2orize Example
		meta(charset="utf-8")
		style
			include css/bootstrap.min.css
			include css/styles.css
	body
		block content
		script(src='/js/jquery.js')
		script(src='/js/validator.min.js')
