html
	head
		title Login | Magination
		meta(charset="utf-8")
		link(rel='icon' href='/img/favicon-large.png')
		style
			include css/bootstrap.min.css
			include css/styles.css
	body
		nav.navbar.navbar-default
			.container-fluid
				a.navbar-brand(href='https://www.maginationgame.com') Magination
				a.navbar-brand(href='https://community.maginationgame.com') Community
				a.navbar-brand(href='https://game.maginationgame.com') Game
		block content
		script(src='/js/jquery.js')
		script(src='/js/validator.min.js')
