html
	head
		title OAuth2orize Example
		meta(charset="utf-8")
		style
			include css/bootstrap.min.css
			include css/styles.css
	body
		nav.navbar.navbar-default
			.container-fluid
				a.navbar-brand(href='https://www.magniationgame.com') Magination
				a.navbar-brand(href='https://community.magniationgame.com') Community
				a.navbar-brand(href='https://game.magniationgame.com') Game
		block content
		script(src='/js/jquery.js')
		script(src='/js/validator.min.js')
