extend layout

block content
	.container
		!= messages()
		form(name="resendEmail", action="/registered", method="post", data-toggle="validator", role="form")
			p If you can't find your email or you link didn't work, you can try to resend it by entering your email here
			div.form-group
				label(for='email', style='white-space:pre;')
					| Email
				input#email.form-control(name='email', type='email', required='')
				div(class='help-block with-errors')
			div.form-group
				button.btn.btn-lg.btn-primary.btn-block(type='submit', value='resend') Resend email
