li {
	list-style-type: none;
}

.container {
	margin-top: 50px;
	width: 380px;
	text-align: center;
}

.success {
	color: green;
}

.error {
	color: red;
}

.link-container {
	margin: auto;
	width: 250px;
}

.link {
	margin: 20px;
}